* {
  color: #FFF;
  font-family: sans-serif;
}

.user-interface {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid white;
  border-radius: 10px;
  width: 300px;
  margin: 15px;
  padding: 10px;
}

.options-header {
  display: grid;
  grid-template-columns: 60% 15% 15%;
  grid-template-rows: 20% 80%;
  grid-gap: 5%;
}

h1 {
  grid-column: 1;
  grid-row: 1 / 2;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

/* Toggle switch */
p {
  grid-column: 2;
  grid-row: 1;
  margin: 2%;
  font-weight: bold;
}

.onoffswitch {
  grid-column: 3;
  grid-row: 1;
  position: relative;
  width: 35px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 15px; padding: 0; margin: 0;line-height: 15px;
    border: 2px solid #E3E3E3; border-radius: 15px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 15px; height: 15px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 16px;
    border: 2px solid #E3E3E3; border-radius: 15px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}

/* Inputs */

.insertBtn, .removeBtn, .traverseBtn, .findBtn {
  font-weight: bold;
  padding: 5px;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
  background: transparent;
}

.insertBtn {
  border: 2px solid #58ef6f;
}

.insertBtn:hover {
  background-color: #58ef6f;
  color: white;
}

.removeBtn {
  border: 2px solid #F15C5C;
}

.removeBtn:hover {
  background-color: #F15C5C;
  color: white;
}

.findBtn {
  border: 2px solid #1061e5;
}

.findBtn:hover {
  background-color: #1061e5;
  color: white;
}

input[type="text"] {
  float: left;
  border: 1px solid #CCC;
  color: #888;
  height: 20px;
  line-height: 15px;
  padding: 5px;
  border-radius: 4px;
  color: black;
}

.insert-node {
  display: grid;
  grid-template-columns: 25% 25% 40%;
  grid-gap: 5%;
  margin: 4% 2%;
}

.remove-node, .find-node {
  display: grid;
  grid-template-columns: 55% 40%;
  grid-gap: 5%;
  margin: 4% 2%;
}

/* Animation trigger button */
.traverses {
  display: grid;
  grid-template-rows: 50% 50%;
  margin: 4% 2%;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: white;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
}

input[type=radio]:checked + label{
  color: white;
  background: #e91e63;
}

.radio-group {
  border: solid 2px #e91e63;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.traverseBtn {
  border: 2px solid #e91e63;
  margin-top: 10px;
}

.traverseBtn:hover {
  background-color: #e91e63;
  color: white;
}

/* Tree information */
table {
  width: 96%;
  border: 2px solid white;
  border-radius: 5px;
  margin: 5% 2%;
}

th {
  border-bottom: 2px solid white;
  padding: 4%;
}
